<a href="https://colab.research.google.com/github/kavish27/Python-Basics/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Swapping 2 Numbers**

In [ ]:
#using naive approach
x=10
y=20
temp=x;
x=y;
y=temp;
print("Value of X:",x)
print("Value of X:",y)

In [ ]:
#using arithmetic operations 
x=10
y=50
x=x+y
y=x-y
x=x-y
print("value of x:",x)
print("value of y:",y)

In [ ]:
#using comma operator 
x=float(input("Enter X:"))
y=float(input("Enter Y:"))

x,y = y,x
print("Value of X:",x)
print("Value of Y:",y)

Enter X:200
Enter Y:500
Value of X: 500.0
Value of Y: 200.0

In [ ]:
x=200
y=500
x=x^y
y=x^y
x=x^y
print("Value of X:", x)
print("Value of Y:",y)

500
200