<a href="https://colab.research.google.com/github/kavish27/Python-Basics/blob/main/Basicss.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Variables**

In [ ]:
x=5
y="kavish"
print(x)
print(y)
#You can get the data type of a variable with the type() function.
a=33.33
b="shah"
print(type(x))
print(type(y))
#Variable names are case-sensitive.
k=22
K=333
print(k,K)

**Variable Names**

In [ ]:
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

#Each word, except the first, starts with a capital letter:Camel Case
myCamelCase=22
#Each word starts with a capital letter:PascalCase
MyPascalCase=25
#Each word is separated by an underscore character:SnakeCase
my_snake_case=555
print(myCamelCase)
print(MyPascalCase)
print(my_snake_case)

**Assign Multiple Values**

In [8]:
#Python allows you to assign values to multiple variables in one line:
x,y,z="java","c++","python"
print(x,y,z)
#One Value to Multiple Variables
#And you can assign the same value to multiple variables in one line:
a=b=c="SQL"
print(a,b,c)
#Unpack a Collection
#If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.
languages=["Ruby","JS","HTML"]
a,b,c=languages
print(a,b,c)

java c++ python
SQL SQL SQL
Ruby JS HTML